<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat da burger!{{else}}Make another{{/if}}
	</button>
	<button data-id="{{id}}" class="delete-burger">Delete</button>
</li>
